{% extends "base.html" %} {% load static %} {% block title %} Waingo Farm | Our
Services {% endblock %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'css/services.css' %}" />
{% endblock %} {% block content %}

<section class="services-page">
  <div class="container">
    <div class="services-page-heading">
      <span>OUR SERVICES</span>

      <h1>Complete Farming Solutions</h1>

      <p>
        Quality agricultural products, livestock support and practical farming
        solutions for farmers across Kenya.
      </p>
    </div>
  </div>
</section>

{% endblock %}
